footer {
    font-size: 2rem;
    margin: 5% 0% 0% 0%;
    padding: 1% 0 1% 0;
    top: 0rem;
    background-color: @lightGray;
    div {
        display: flex;
        justify-content: space-evenly;
        a {
            color: @charcoal;
            text-decoration: none;
            margin-bottom: 5%;
                &:hover{
                    text-decoration: underline;
                }
                &:active{
                    color: white;
                }
        }
    }
}
.footerhead {
    margin: 0 0 5% 0;
    color: @charcoal;
}
.lastclass {
    transform: scale(.5);
        &:hover {
            opacity: .6;
        }
}
.lastclass1 {
    width: 80%;
    margin: 0 0 0 80%;
}
.lastclass2 {
    width: 150%;
    margin: 0 0 0 165%;
}
.lastclass3 {
    width: 40%;
    margin: 0 0 0 100%;
}
.lastclass4 {
    width: 30%;
    margin: 0 0 0 45%;
    position: relative;
    bottom: .5rem;
}